name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19.2

    - name: Build Windows
      run: |
           make windows
           mv ffk.exe ffk.exe
      env:
        GOOS: windows
        GOARCH: amd64

    - name: Build ARM Linux
      run: |
        make unix
        mv ffk ffkr
      env:
        GOOS: linux
        GOARCH: arm64

    - name: Build ARM macOS
      run: |
        make unix
        mv ffk ffkdr
      env:
        GOOS: darwin
        GOARCH: arm64

    - name: Build macOS
      run: |
        make unix
        mv ffk ffkd
      env:
        GOOS: darwin
        GOARCH: amd64

    - name: Build Linux
      run: make unix
      env:
        GOOS: linux
        GOARCH: amd64

    - name: 'Upload Linux AMD64'
      uses: actions/upload-artifact@v3
      with:
        name: Linux FFK executable
        path: ffk
        retention-days: 5

    - name: 'Upload Linux ARM64'
      uses: actions/upload-artifact@v3
      with:
        name: Linux ARM FFK executable
        path: ffkr
        retention-days: 5

    - name: 'Upload macOS AMD64'
      uses: actions/upload-artifact@v3
      with:
        name: macOS FFK executable
        path: ffkd
        retention-days: 5

    - name: 'Upload macOS ARM64'
      uses: actions/upload-artifact@v3
      with:
        name: macOS ARM FFK executable
        path: ffkdr
        retention-days: 5

    - name: 'Upload Windows AMD64'
      uses: actions/upload-artifact@v3
      with:
        name: Windows FFK executable
        path: ffk.exe
        retention-days: 5
